<div class="mb-3 card card-body">
  <%= tweet.body %>
  <div class="me-3">
    <div class="d-flex justify-content-between mt-2"">
      <div >
        <%= image_tag tweet.twitter_account.image, class: "rounded-circle me-1" %>
        <%= link_to "@#{tweet.twitter_account.username}", "https://twitter.com/#{tweet.twitter_account.username}", target: :_blank %>
        <% if tweet.published? %>
          <%= link_to "View Tweet", "https://twitter.com/#{tweet.twitter_account.username}/status/#{tweet.tweet_id}", target: :_blank %>
        <% else %>
          Scheduled for <%= l tweet.publish_at, format: :long %>
          </div>
          <div>
            <%= link_to "Edit", edit_tweet_path(tweet), method: :post, class: "btn btn-outline-secondary" %>
            <%= link_to "Delete", tweet, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "btn btn-outline-danger" %>
          </div>
        <% end %>
      </div>
  </div>
</div> 
