<div class="d-flex justify-content-between align-items-center">
    <h1> Tweets</h1>
    <% if current_user.twitter_accounts.any?  # check if any twitter account is connected %>
        <%= link_to "Schedule a Tweet", new_tweet_path, :data => { turbo: "false" }, class:"btn btn-outline-primary"%>
    <% end %>
</div>

<% if current_user.twitter_accounts.none? %>
    <%= link_to "Connect Your Twitter Account", "/auth/twitter",method: :post, class: "btn btn-primary" %>
<% end %>


<% if current_user.tweets.any? %>
    <%== pagy_bootstrap_nav(@pagy) %>

    <%= link_to_unless_current '5', tweets_path(items: 5), id: 'step_container', class:'btn btn-outline-primary'%>
    <%= link_to_unless_current '10', tweets_path(items: 10), class:'btn btn-outline-primary'%>
    <%= link_to_unless_current '50', tweets_path(items: 50), class:'btn btn-outline-primary'%>
 
    <span class="ml-5">
        sort by:
        <%= link_to "time", :sort => :publish_at%>
    </span>

    <%= render @tweets %>   
    <% #it will look for a partial file under the naem _tweet.html.erb for each tweet %>  
<% end %>
