<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3 mb-4 ">
  <%= link_to "Scheduling Tweets", root_path, class: "navbar-brand fst-italic"%>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
         <%= link_to "Dashboard", root_path, class: "nav-link" %> 
      </li>
      
      <li class="nav-item">
        <%= link_to "Twitter Accounts", twitter_accounts_path, class: "nav-link" %>
      </li>

      <li class="nav-item">
        <%= link_to "Tweets", tweets_path, class: "nav-link" %> 
      </li>
      
      <li class="nav-item">
        <%= link_to "About us", about_path, class: "nav-link" %> 
      </li>
    </ul>

    <ul class="navbar-nav float-right">
        <% if current_user %>
          <li class="nav-item"> 
            <%= link_to current_user.email, edit_user_registration_path, :title => "Edit password", class: "nav-link" %>    
          </li>

          <li class="nav-item"> 
            <%= link_to 'log out', destroy_user_session_path, data: {turbo_method: :delete}, class:"btn btn-outline-danger"%>
          </li>

        <% else %>
          <li class="nav-item"> 
            <%= link_to "Log in", new_user_session_path, class:"nav-link"%>
          </li>
          <li class="nav-item"> 
            <%= link_to "Sign Up", new_user_registration_path, class:"nav-link"%>
          </li>
        <% end %>
      </li>
    </ul> 
  </div>
</nav>