<% if current_user %>
    <h1 class= "alert alert-secondary text-center text-primary mt-2">Dashboard</h1>
    <div class="d-flex align-items-center justify-content-around">
         
        <% if current_user.twitter_accounts.any?  # check if any twitter account is connected %>
            <% current_user.twitter_accounts.each do |twitter_account| %>
            <div class="card py-2 mr-2">
                <div class="card-body px-3">
                <a href= "https://twitter.com/#{twitter_account.username}" target = "_blank">
                    <%= image_tag twitter_account.image, class:"rounded-circle" %>
                </a>
                <%= link_to "@#{twitter_account.username}", "https://twitter.com/#{twitter_account.username}", target: :_blank, class: "ml-2 mr-5 h5"%>

                <%= link_to "Schedule a Tweet", new_tweet_path, method: :post, :data => { turbo: "false" }, class: "btn btn-outline-primary mx-1"%>
                <% if current_user.tweets.any? %>
                    <% if current_user.tweets.count == 1 %>
                        <%= link_to "See your 1 scheduled tweet", tweets_path, class: "btn btn-outline-info mx-1" %> 
                    <% else%>
                        <%= link_to "See your #{current_user.tweets.count} scheduled tweets", tweets_path, class: "btn btn-outline-info mx-1" %> 
                    <% end %>
                <% end %>

                <%= link_to "Disconnect", twitter_account, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "btn btn-outline-danger mx-1"%>
                </div>
            </div>
            <% end %>
            <%= button_to "Connect Another Twitter Account", "/auth/twitter/", method: :post, :data => { turbo: "false" }, class: "btn btn-primary"%>
        <% else %>
            <%= button_to "Connect a Twitter Account", "/auth/twitter/", method: :post, :data => { turbo: "false" }, class: "btn btn-primary"%>   
        <% end %> 

    </div>
<% else %>
    <h6 class= "alert alert-warning mt-4">
        You have to login to your account. <%= link_to "Click here", new_user_session_path  %> to sign in.
    </h6>
<% end %>
